/* Light Mode */
.light-mode {
  background-color: #fff;
  color: #000;
}

/* Dark Mode */
.dark-mode {
  background-color: #000;
  color: #fff;
}

textarea {
  outline: none; /* Removes the default outline */
  border: 1px solid purple; /* Add a border to indicate focus */
  /* Add any other desired styles */
}